:root {
    --bg-start : rgba(255, 255, 255, 0.15);
    --bg-end : rgba(109, 109, 161, 1);
    background-color: #606060;
    color: #ffffff;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
:root.day {
    --bg-start: rgba(75, 101, 239, 1);
    --bg-end: rgba(109, 109, 161, 1);
}
:root.night {
    --bg-start : rgb(0, 0, 0);
    --bg-end : rgba(109, 109, 161, 1);
}
.card {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
    max-width: 300px;
    height: auto;
    aspect-ratio: 3/5;
    background-color: var(--bg-start);
    transition: background-color 3s;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.one {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: 1px solid white;
    font-size: 1.25em;
}
.two {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.three {
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
}

.four {
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.five {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
.five-one {
    display: grid;
    align-items: center;
    justify-items: end;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 2;
}
.five-two {
    display: grid;
    align-items: center;
    justify-items: start;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 2 / 3;
}
.six {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.six-one {
    display: grid;
    align-items: center;
    justify-items: end;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 2;
}
.six-two {
    margin: 0;
    grid-column: 2 / 3;
}
.seven {
    grid-template-columns: 1fr 2fr;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    border-top: 1px solid white;
}
.seven-one {
    display: grid;
    align-items: center;
    justify-items: end;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1 / 2;
}
.seven-two {
    margin: 0;
    grid-column: 2 / 3;
}
.icons {
    width: 30px;
    height: 30px;
    fill: white;
}
.icons-wmo{
    display: none;
    width: 100px;
    height: 100px;
}
#wmo-loading, #loading-message {
    display: inline;
}
#wmo-error, #error-message {
    color: #fa4a00;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    display: none;
}
#city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    font-size: 1.5em;
}
#temperature {
    font-size: 4.2em;
}

@media screen and (max-width: 300px) {
    .card {
        width: 100%;
        height: auto;
        aspect-ratio: 3/5;
    }
}